/* Structure */
:root {
  --background: #c4e1f2;
  --columns: #85c8f2;
  --cities: #1d3759;
}
body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
}

.column {
  margin: 20px;
  background-color: var(--columns);
}

#cities section {
  background-color: var(--cities);
  padding: 30px;
  text-align: center;
}

#addCity {
  margin-left: 20px;
  padding: 10px;
}

#form {
  width: 50%;
  height: 25%;
  background: white;
}

.hide {
  visibility: hidden;
}

#add-city-form {
  background-color: var(--columns);
  width: 50%;
  margin: 10px auto;
  border-radius: 3px;
}

#add-city-form p {
  padding: 10px;
  margin: 5px;
}

#add-city-form label {
  display: inline-block;
  width: 100px;
}

#add-city-form input {
  width: 200px;
  height: 30px;
}

#add-city-form h1 {
  padding: 10px;
}

#cities a {
  cursor: pointer;
}

#exit-button {
  display: inline;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
}

#exit-button:hover {
  color: var(--background);
}

#result {
  text-align: center;
  font-size: 1.4em;
}

/*Typography*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

#cities section a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

#details section h2 {
  text-align: center;
  font-size: 1.8em;
}

#details section p {
  font-size: 1.5em;
}

#addCity {
  font-size: large;
}

/* Larger Resolutions */
@media only screen and (min-width: 600px) {
  .flex-container {
    display: flex;
  }

  .column {
    flex: 1;
  }

  #cities section {
    flex-wrap: wrap;
    flex: 20%;
  }

  #cities {
    flex-wrap: wrap;
  }
}
